.container {
    width: 300px;
    height: max-content;
}

.adder {
    width: 400px;
    height: 50px;
    margin: auto;
    border: 2px solid black;
}
.input{
    width: 80%;
    height: 90%;
}
.button {
    width: 15%;
    height: 95%;
    margin-left: auto;
    color: red;
}